{% load static %}



<!-- Footer Partnership -->
<section class="partnership" style="border: 3px solid #f7a305;">

	<div class="container-fluid">

		<div class="row">
			
			<div class="address col-md-4">
				<h5>Office</h5>
				<p>No. 8/L, Mindama Road,</p>
				<p>(3) Quarter, Mayangone Township,</p>
				<p>  Yangon, Myanmar.</p>
			</div>
			<div class="address col-md-4">
				<h5>Contact Us</h5>
				<table class="table table-borderless">
				  <thead>
				    
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row">Email :</th>
				      <td>info@burmateaktimber.com</td>
				    </tr>
					<tr>
				      <th scope="row">Website :</th>
				      <td><a href="#" target="_blank">www.burmateaktimber.com</a></td>
				    </tr>
				    <tr>
				      <th scope="row">Phone :</th>
				      <td style="">(Myanmar) +95 9 511 6727 <br><br>(USA)&emsp;&emsp;&ensp; +1 (626) 736-5192</td>
				      
				    </tr>
				    <tr>
				      <th scope="row"></th>
<!--				      <td> (USA)&emsp;&emsp;&ensp; +1 (626) 736-5192</td>-->
				      
				    </tr>
				    
				  </tbody>
				</table>
			</div>
			<div class="address col-md-4">
				<h5>Factory Address</h5>
				<p>No. 50, Yaw Ah Twin Wun U Pho Hlaing Street, </p>
				<p> Dagon Seikkan Township,City of Industry Zone (2),</p>
				<p> Yangon, Myanmar.</p>
			</div>
			
		</div>
	</div>
</section>
<!-- Footer Partnership -->

