{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}
<!-- About section -->

<section class="about-us">
	<div class="container">
		<div class="row">
			<div class="section-title">
				<h3>About Us</h3>
				<p class="small text-uppercase"></p>
			</div>
		</div>
		<div class="row">
			<div class="about-content">
				<div class="row">


				<div class="text">
<!--					<h4>Our Company Group</h4>-->
					<p>Jewellery Teak Timber Co., Ltd. (JTT) is one of the leading exporters of teak wood products in the whole of Myanmar (Burma).

Myanmar is entitled as the country of origin to grow quality teak and we are proud to say that this is where our headquarter is located. 

With advance machinery and an innovative outlook, we offer wide verity of teak products and ensure the well-known Burma teak quality. 
</p>
				</div>
				<div class="about-photo">
					<div id="demo" class="carousel slide" data-ride="carousel">

					  <!-- Indicators -->
					  <ul class="carousel-indicators">
					    <!-- <li data-target="#demo" data-slide-to="0" class="active"></li>
					    <li data-target="#demo" data-slide-to="1"></li>
					    <li data-target="#demo" data-slide-to="2"></li> -->
					  </ul>

					  <!-- The slideshow -->
					  <div class="carousel-inner">
					    <div class="carousel-item active">
					      <img src="{% static 'images/slide1.jpg' %}" alt="s1" style="width: 600px; height: 400px;">
					    </div>
					    <div class="carousel-item">
					      <img src="{% static 'images/slide2.jpg' %}" alt="s2" style="width: 600px; height: 400px;">
					    </div>
					    <div class="carousel-item">
					      <img src="{% static 'images/slide3.jpg' %}" alt="s3" style="width: 600px; height: 400px;">
					    </div>
					    <div class="carousel-item">
					      <img src="{% static 'images/slide4.jpg' %}" alt="s3" style="width: 600px; height: 400px;">
					    </div>
					    <div class="carousel-item">
					      <img src="{% static 'images/slide5.jpg' %}" alt="s3" style="width: 600px; height: 400px;">
					    </div>
					    <div class="carousel-item">
					      <img src="{% static 'images/slide6.jpg' %}" alt="s3" style="width: 600px; height: 400px;">
					    </div>
					    <div class="carousel-item">
					      <img src="{% static 'images/slide7.jpg' %}" alt="s3" style="width: 600px; height: 400px;">
					    </div>
					    <div class="carousel-item">
					      <img src="{% static 'images/slide8.jpg' %}" alt="s3" style="width: 600px; height: 400px;">
					    </div>
					  </div>

					  <!-- Left and right controls -->
					  <a class="carousel-control-prev" href="#demo" data-slide="prev">
					    <span class="carousel-control-prev-icon"></span>
					  </a>
					  <a class="carousel-control-next" href="#demo" data-slide="next">
					    <span class="carousel-control-next-icon"></span>
					  </a>

					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</section>

<!-- About Section -->

<!-- Product Gellary -->

<section class="productphoto">
	<div class="container">
		<div class="row">
			<div class="section-title text-center">
				<h3>Product Gallery </h3>
			</div>
		</div>
		<div class="row">
			<div class="filter-buttons">
				<ul id="filter-btns">
					<li class="active" data-target="veneer">All</li>
					<li data-target="decking">Decking</li>
					<li data-target="boards">Boards</li>
					<li data-target="flooring">Flooring</li>
					<li data-target="skirting">Skirting</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="product-gellary">
				<div class="item" data-id="decking">
					<div class="inner">
					<img src="{% static 'images/gallery1.jpg' %}" alt="decking">
					<div class="overlay">
						<span class="fa fa-plus"></span>
						<h4>Veneer</h4>
					</div>
					</div>
				</div>
				<div class="item" data-id="boards">
					<div class="inner">
					<img src="{% static 'images/gallery2.jpg' %}" alt="boards">
					<div class="overlay">
						<span class="fa fa-plus"></span>
						<h4>Decking</h4>
					</div>
					</div>
				</div>
				<div class="item" data-id="flooring">
					<div class="inner">
					<img src="{% static 'images/gallery3.jpg' %}" alt="flooring">
					<div class="overlay">
						<span class="fa fa-plus"></span>
						<h4>Board & Lumber</h4>
					</div>
					</div>
				</div>
				<div class="item" data-id="skirting">
					<div class="inner">
					<img src="{% static 'images/gallery4.jpg' %}" alt="skirting">
					<div class="overlay">
						<span class="fa fa-plus"></span>
						<h4>Flooring</h4>
					</div>
					</div>
				</div>
				<div class="item" data-id="flooring">
					<div class="inner">
					<img src="{% static 'images/gallery5.jpg' %}" alt="flooring">
					<div class="overlay">
						<span class="fa fa-plus"></span>
						<h4>Moulding</h4>
					</div>
					</div>
				</div>
				<div class="item" data-id="skirting">
					<div class="inner">
					<img src="{% static 'images/gallery6.jpg' %}" alt="skirting">
					<div class="overlay">
						<span class="fa fa-plus"></span>
						<h4>Aged Wood</h4>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Product Gellary -->
<!-- Light Box -->
<div class="lightbox hide">
	<span class="close-lightbox fa fa-close"></span>
	<img src="{% static 'images/gellary.jpg' %}" alt="skirting">
</div>
<!-- Light Box -->


<!-- Affiliate -->

<section>
	<div class="container-fluid" id="affiliate">
		<h3 style="margin-left: 90px;">Affiliate</h3>
		<div class="row col-md-12">
			<div class="col-md-4">
				<img src="{% static 'images/partner1.jpg' %}" style="width: 400px; height: 220px;">
			</div>
			<div class="col-md-4">
				<img src="{% static 'images/partner2.jpg' %}" style="width: 400px; height: 220px;">
			</div>
			<div class="col-md-4">
				<img src="{% static 'images/partner3.jpg' %}" style="width: 400px; height: 220px;">
			</div>
		</div>

	</div>
<br><br>
<div><a href="{% url 'contact' %}" class="btn btn-warning" style="position: fixed;bottom: 3%; right: 3%; padding: 10px 20px 10px 20px;">CONTACT</a></div>
</section>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<!-- Affiliate -->






{% endblock %}