{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}
<section class="producttable" id="producttableid">
	<div class="container" id="veneerslide">
		<h3>Board and Lumber</h1>
			<p>Since 1985 </p>
		<div class="row col-md-12 firstslide">

			<div class="col-md-6" style="font-size: 26px;">Jewellery Teak Timber Co., Ltd. obtains sustainable teak log by undergoing an auction process held by Myanma Timber Enterprise (MTE).  </div>
			<div class="col-md-6">
				<!-- Slide1 -->
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				  <div class="carousel-inner">
				    <div class="carousel-item active">
				      <img src="{% static 'images/veneer1.jpg' %}" class="d-block w-100" alt="..." style="width: 800px; height: 300px;">
				    </div>
				    <div class="carousel-item">
				      <img src="{% static 'images/veneer2.jpg' %}" class="d-block w-100" alt="..." style="width: 800px; height: 300px;">
				    </div>
				    <!-- <div class="carousel-item">
				      <img src="{% static 'images/slide4.jpg' %}" class="d-block w-100" alt="..." style="width: 800px; height: 300px;">
				    </div> -->
				  </div>
				  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>
				<!-- Slide1 -->
			</div>
		</div>
		<br><br>
		<div class="row col-md-12">

			
			<div class="col-md-6">
				<!-- Slide2 -->
				<div id="carouselExampleControlsl" class="carousel slide" data-ride="carousel">
				  <div class="carousel-inner">
				    <div class="carousel-item active">
				      <img src="{% static 'images/lumber2.jpg' %}" class="d-block w-100" alt="..." style="width: 800px; height: 300px;">
				    </div>
				    <div class="carousel-item">
				      <img src="{% static 'images/lumber1.jpg' %}" class="d-block w-100" alt="..." style="width: 800px; height: 300px;">
				    </div>
				    <!-- <div class="carousel-item">
				      <img src="{% static 'images/veneer5.jpg' %}" class="d-block w-100" alt="..." style="width: 800px; height: 300px;">
				    </div>
				    <div class="carousel-item">
				      <img src="{% static 'images/veneer6.jpg' %}" class="d-block w-100" alt="..." style="width: 800px; height: 300px;">
				    </div> -->
				  </div>
				  <a class="carousel-control-prev" href="#carouselExampleControlsl" role="button" data-slide="prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="carousel-control-next" href="#carouselExampleControlsl" role="button" data-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>
				<!-- Slide2 -->
			</div>
			<div class="col-md-6" style="font-size: 26px;">These logs undergo a boule cut process and tailored to the customer’s desired needs.</div>
		</div>
		<br>
		<div class="row col-md-12">

			<div class="col-md-6" style="font-size: 26px;">The final products can be used in various forms innovatively.</div>
			<div class="col-md-6">
				<!-- Slide1 -->
				<div id="carouselExampleControlsu" class="carousel slide" data-ride="carousel">
				  <div class="carousel-inner">
				    <div class="carousel-item active">
				      <img src="{% static 'images/lumber3.jpg' %}" class="d-block w-100" alt="..." style="width: 800px; height: 300px;">
				    </div>
				    <div class="carousel-item">
				      <img src="{% static 'images/lumber4.jpg' %}" class="d-block w-100" alt="..." style="width: 800px; height: 300px;">
				    </div>
				    <div class="carousel-item">
				      <img src="{% static 'images/lumber5.jpg' %}" class="d-block w-100" alt="..." style="width: 800px; height: 300px;">
				    </div>
				    <div class="carousel-item">
				      <img src="{% static 'images/lumber6.jpg' %}" class="d-block w-100" alt="..." style="width: 800px; height: 300px;">
				    </div>
				    <div class="carousel-item">
				      <img src="{% static 'images/lumber7.jpg' %}" class="d-block w-100" alt="..." style="width: 800px; height: 300px;">
				    </div>
				    <div class="carousel-item">
				      <img src="{% static 'images/lumber8.jpg' %}" class="d-block w-100" alt="..." style="width: 800px; height: 300px;">
				    </div>
				    <div class="carousel-item">
				      <img src="{% static 'images/lumber9.jpg' %}" class="d-block w-100" alt="..." style="width: 800px; height: 300px;">
				    </div>
				    
				  </div>
				  <a class="carousel-control-prev" href="#carouselExampleControlsu" role="button" data-slide="prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="carousel-control-next" href="#carouselExampleControlsu" role="button" data-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>
				<!-- Slide1 -->
			</div>
		</div>
		<br><br>


<!-- =======================AvaiableTable============================	 -->
<!--		<div class="row teak-table">-->
<!--			<div class="teak-logs">-->
<!--				<h1>Availability</h1>-->
<!--			</div>-->
<!--			<div class="col-md-2"></div>-->
<!--			<div class="col-md-11">-->
<!--				<div class="card">-->
<!--				  <div class="card-body">-->
<!--				    <table class="table table-hover">-->
<!--					  <thead>-->
<!--					    <tr class="bg-success">-->
<!--					      <th scope="col">#</th>-->
<!--					      <th scope="col">Thickness</th>-->
<!--					      <th scope="col">Width</th>-->
<!--					      <th scope="col">Length </th>-->
<!--					      <th scope="col"> </th>-->
<!--					    </tr>-->
<!--					  </thead>-->
<!--					  <tbody>-->
<!--					  	{% for i in LumberModel %}-->

<!--					    <tr>-->
<!--					      <th scope="row">{{i.lproductId}}</th>-->
<!--					      <td>{{i.lthickness}}</td>-->
<!--					      <td>{{i.lwidth}}</td>-->
<!--					      <td>{{i.llength}}</td>-->
<!--					      <td></td>-->
<!--					      -->
<!--					    </tr>-->
<!--					    {% endfor %}-->
<!--					    -->
<!--					  </tbody>-->
<!--					</table>-->
<!--				  </div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
		<div class="row teak-table">
			<div class="teak-logs col-md-12">
				<h3>Availability</h3>
				<h4>Custom Size</h4>
			</div>
			<div class=""></div>

		</div>
		<br>
		
	</div>
	<div><a href="{% url 'contact' %}" class="btn btn-warning" style="position: fixed;bottom: 3%; right: 3%; padding: 10px 20px 10px 20px;">CONTACT</a></div>
</section>





{% endblock %}