{% load static %}
<nav class="navbar navbar-expand-lg fixed-top" style="background-color: black;">
  <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.jpg' %}"> JT Timber Co., Ltd.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">HOME<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         TEAK PRODUCTS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: black;">
          <a class="dropdown-item" href="{% url 'veneer' %}" style="background-color: black;">Veneer</a>
          <a class="dropdown-item" href="{% url 'decking' %}"style="background-color: black;">Decking</a>
          <a class="dropdown-item" href="{% url 'lumber' %}"style="background-color: black;">Board & Lumber</a>
          <a class="dropdown-item" href="{% url 'moulding' %}"style="background-color: black;">Moulding</a>
          <a class="dropdown-item" href="{% url 'agedwood' %}"style="background-color: black;">Aged wood</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>


<section id="nav-bar">
 

<section class="homename">
  <div class="container-fluid">
    <div class="row fullscreen">
      <div class="home-content">
        <div class="block">
          <h1>Distributing Burma Teak</h1>
          <h3>Worldwide Since 1985</h3>
        </div>
      </div>
    </div>
  </div>
  </section>
</section>

<style type="text/css">
 
  
  .homename .fullscreen{
    min-height: 100vh;
    background-image: url({% static 'images/navphoto.jpg' %});
    background-size: cover;

    /*width: 100%;*/
  }

  .homename .home-content{
    /*background-color: red;*/
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .homename .block{
    /*background-color: blue;*/
    flex: 0 0 65%;
    max-width: 65%;
    padding-left: 20px;
    border-left: 5px solid #ffffff;
    margin-left: 55px;
  }
  .homename .block h1{
    color: #ffffff;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.5;
  }
  .homename .block h3{
    color: #ffffff;
    font-size: 34px;
    line-height: 1.5;
  }


  .dropdown:hover>.dropdown-menu{display: block;}



nav a img{
  width: 80px;
}

.navbar
{
  height: 100px;
  opacity: 0.75;
}

nav ul li a{
  /*background-color: #D1D1D1;*/
  color: #f7a305;
  font-size: 21px;
  font-weight: 500;
  padding: 10px 20px;

}

.navbar-brand{
  color: #f7a305;
  font-size: 40px;
  font-weight: 500;
  padding: 10px 20px;
  font-family:"Times New Roman";
}

.dropdown-item
{
  color: #f7a305;
}
</style>