{% load static %}
<section id="nav-bar"><nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand" href="{% url 'index' %}">JT Timber Co., Ltd.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">HOME<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         TEAK PRODUCTS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'veneer' %}">Veneer</a>
          <a class="dropdown-item" href="{% url 'decking' %}">Decking</a>
          <a class="dropdown-item" href="{% url 'lumber' %}">Board & Lumber</a>
          <a class="dropdown-item" href="{% url 'moulding' %}">Moulding</a>
          <a class="dropdown-item" href="{% url 'agedwood' %}">Aged wood</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>
</section>

<style type="text/css">
	#nav-bar{
		/*background-image: url({% static 'images/navphoto.jpg' %});*/
		background-size: cover;
    /*min-height: 100vh;*/
    /*border: 5px solid blue;*/
		

	}
  nav{
    border: 3px solid #f7a305;
  }
  .navbar{
    background-color: #D1D1D1;
    opacity: 0.98;
  }
</style>